.conversation {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.accountAvatarSet {
  position: relative;
  flex-shrink: 0;
}

.notificationCount {
  position: absolute;
  bottom: -4px;
  right: -4px;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}

.accountInfo {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
}

.lastMessageDate {
  text-align: right;
}
